@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-bg: #ffffff;
  --color-bg-muted: color-mix(in hsl, var(--color-bg) 80%, var(--color-border) 20%);
  --color-border: #edeff0;
  --color-fg: #2c363c;
  --color-fg-muted: #B4BDC3;

  --color-primary: #88507D;
  --color-secondary: #286486;
  --color-selection: #CBD9E3;

  --font-family-headings: "Inter Tight", sans-serif;
  --font-family-copy: "Inter Tight", sans-serif;
  --font-family-code: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1C1917;
    --color-border: #403833;
    --color-fg: #B4BDC3;
    --color-fg-muted: #888F94;

    --color-primary: #B279A7;
    --color-secondary: #6099C0;
    --color-selection: #3D4042;
  }
}

::selection, ::-moz-selection {
    background: var(--color-selection);
    color: var(--color-fg);
    text-shadow: none;
}

:focus {
  outline: 2px solid;
  border-radius: .125rem;
  outline-color: var(--color-secondary);
}

html {
  font-family: var(--font-family-copy);
  font-size: 16px;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-width: 280px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  font-family: var(--font-family-headings);
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.25rem; }
h3 { font-size: 1rem; }

p {
  margin-bottom: .5rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

pre, code {
  font-family: monospace;
  font-size: .875rem;
}

code {
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

pre code {
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

button, .btn {
  display: flex;
  flex-direction: row;
  padding: .5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: .25rem;
  text-decoration: none;
  background-color: var(--color-bg-muted);
  color: var(--color-fg);
  transition: background-color .2s ease, border-color .2s ease;
  cursor: pointer;
}
.btn-outline {
  background-color: transparent;
}
.btn:hover {
  border: 1px solid var(--color-fg);
}
.btn-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

nav#TOC {
  padding: 0 1rem 1rem;
  width: 16rem;
  background-color: var(--color-bg-muted);
  border-right: 1px solid var(--color-border);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

nav#TOC header {
  flex: 0 0 auto;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav#TOC header h2 {
  margin: 0;
  font-size: 1.25rem;
}
nav#TOC header .btn {
  display: none;
}

nav#TOC ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

nav#TOC ul ul {
  padding-left: 1rem;
}
nav#TOC > ul > li > ul {
  margin-bottom: 1rem;
}

nav#TOC li {
  font-size: .875rem;
  margin: .25rem 0;
}

nav#TOC a {
  display: flex;
  text-decoration: none;
  display: block;
}

nav#TOC a:hover {
  text-decoration: underline;
}

nav#TOC > ul > li > a {
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  margin-left: 16rem;
  background-color: var(--color-bg);
}

.content {
  flex: 1 1 auto;
  width: 100%;
  padding: 2rem;
}
.content > :first-child {
  margin-top: 0;
}

.page-nav {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  font-size: .875rem;
  padding: 2rem;
  gap: 2rem;
}

.navlink {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.navlink.next {
  text-align: right;
  margin-left: auto;
}
.navlink-label {
  font-family: var(--font-family-headings);
  font-weight: 600;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index main {
  margin-left: 0;
}
.index #title-block-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.site-footer {
  padding: 1rem 2rem;
  font-size: .875rem;
  background-color: var(--color-bg-muted);
  border-top: 1px solid var(--color-border);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.site-footer nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
  padding: 0;
  margin: 0;
}
.site-footer nav a {
  display: inline-flex;
  align-items: center;
  gap: .5ch;
  text-decoration: none;
}
.site-footer nav a:hover {
  text-decoration: underline;
}
.site-footer nav a svg {
  width: 1em;
  height: 1em;
}

@media (max-width: 480px) {
  .index-cta {
    flex-direction: column;
    align-items: center;
  }
  .site-footer {
    align-items: flex-start;
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  nav#TOC {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: initial;
    height: 4rem;
    border-bottom: 1px solid var(--color-border);
    border-right: none;
    position: fixed;
    transition: height .2s ease;
    overflow-y: hidden;
  }
  nav#TOC ul {
    display: none;
  }
  nav#TOC header {
  }
  nav#TOC header .btn {
    display: block;
  }

  nav#TOC.expanded {
    height: 100%;
    overflow-y: auto;
  }
  nav#TOC.expanded ul {
    display: block;
  }

  main {
    margin-top: 4rem;
    margin-left: 0;
  }

  .content, .page-nav, .site-footer {
    padding: 1rem;
  }
  .page-nav {
    gap: 1rem;
  }
}

/* Syntax highlighting overrides */

code span.kw,
code span.cf,
code span.pp,
code span.im {
  font-weight: 600;
}

code span.at,
code span.dt {
  text-decoration: none;
  font-style: italic;
}

code span.co {
  color: var(--color-fg-muted);
}

code span.st, code span.ss {
  color: var(--color-primary);
}

code span.dv {
  color: var(--color-secondary);
}

