@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400&family=Saira+Condensed:wght@600&display=swap');

* {
  box-sizing: border-box;
}

/* Colors mainly sourced from zenbones themes in https://github.com/zenbones-theme/zenbones.nvim/blob/main/extras/ghostty */
:root {
  --color-black: #F0EDEC;
  --color-black-bright: #CFC1BA;
  --color-red: #A8334C;
  --color-red-bright: #94253E;
  --color-green: #4F6C31;
  --color-green-bright: #3F5A22;
  --color-yellow: #944927;
  --color-yellow-bright: #803D1C;
  --color-blue: #286486;
  --color-blue-bright: #1D5573;
  --color-magenta: #88507D;
  --color-magenta-bright: #7B3B70;
  --color-cyan: #3B8992;
  --color-cyan-bright: #2B747C;
  --color-fg: var(--color-white);
  --color-fg-muted: var(--color-white-bright);

  --color-bg: #fff;
  --color-bg-muted: #fafafa;
  --color-border: #ddd;
  --color-fg: #2c363c;
  --color-fg-muted: #B4BDC3;

  --color-primary: var(--color-magenta);
  --color-secondary: var(--color-blue);
  --color-selection: #CBD9E3;

  --font-family-headings: "Saira Condensed", sans-serif;
  --font-family-copy: "IBM Plex Sans Condensed", sans-serif;
  --font-family-code: "IBM Plex Mono", monospace;

  --border-radius: .125rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-black: #1C1917;
    --color-black-bright: #403833;
    --color-red: #DE6E7C;
    --color-red-bright: #E8838F;
    --color-green: #819B69;
    --color-green-bright: #8BAE68;
    --color-yellow: #B77E64;
    --color-yellow-bright: #D68C67;
    --color-blue: #6099C0;
    --color-blue-bright: #61ABDA;
    --color-magenta: #B279A7;
    --color-magenta-bright: #CF86C1;
    --color-cyan: #66A5AD;
    --color-cyan-bright: #65B8C1;
    --color-white: #B4BDC3;
    --color-white-bright: #888F94;

    --color-bg: var(--color-black);
    --color-bg-muted: color-mix(in hsl, var(--color-black) 80%, #000 20%);
    --color-border: color-mix(in hsl, var(--color-black), var(--color-black-bright));
    --color-fg: var(--color-white);
    --color-fg-muted: var(--color-white-bright);

    --color-selection: #3D4042;
  }
}

::selection, ::-moz-selection {
    background: var(--color-selection);
    color: var(--color-fg);
    text-shadow: none;
}

:focus {
  outline: 2px solid;
  border-radius: .var(--border-radius);
  outline-color: var(--color-secondary);
}

html {
  font-family: var(--font-family-copy);
  font-size: 16px;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-width: 280px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  font-family: var(--font-family-headings);
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }

p, ul, ol, details, pre {
  margin-bottom: 1rem;
}

li {
  margin: .5rem 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

pre, code {
  font-family: var(--font-family-code);
  font-size: .9rem;
}

pre {
  padding: 1rem;
  overflow-x: auto;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-muted);

}

pre code {
}

kbd {
  display: inline-block;
  padding: .25em .375em;
  line-height: 1;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-muted);
  font-size: .75em;
  font-family: var(--font-family-code);
  font-weight: 600;
  text-transform: uppercase;
}

details {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-muted);
}
summary {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  list-style-type: "";
  cursor: pointer;
  padding: 1rem;
}
summary:after {
  content: "❯";
  font-size: .75rem;
  line-height: 1.5rem;
}
details[open] summary:after {
  transform: rotate(90deg);
}
details[open]::details-content {
  padding: 1rem;
  overflow-x: auto;
}


.accordion {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.accordion details {
  margin-bottom: 0;
  border-radius: 0;
  border-top: 0;
}
.accordion details:first-child {
  border-top: 1px solid var(--color-border);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.accordion details:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

/* Admonitions */
.callout {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-left-width: 4px;
  border-style: solid;
  border-color: var(--color-border);
  background-color: var(--color-bg-muted);
  border-radius: var(--border-radius);
}

.callout > :first-child {
  margin-top: 0;
}

.callout > :last-child {
  margin-bottom: 0;
}

.callout:before {
  display: block;
  font-family: var(--font-family-headings);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.callout-note {
  border-left-color: var(--color-blue);
}

.callout-note:before {
  content: "NOTE";
  color: var(--color-blue);
}

.callout-warning {
  border-left-color: var(--color-yellow);
}

.callout-warning:before {
  color: var(--color-yellow);
  content: "WARNING";
}

.callout-tip {
  border-left-color: var(--color-cyan);
}

.callout-tip:before {
  content: "TIP";
  color: var(--color-cyan);
}

.callout-important {
  border-left-color: var(--color-red);
}

.callout-important:before {
  content: "IMPORTANT";
  color: var(--color-red);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

button, .btn {
  display: flex;
  flex-direction: row;
  padding: .5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  text-decoration: none;
  background-color: var(--color-bg-muted);
  color: var(--color-fg);
  transition: background-color .2s ease, border-color .2s ease;
  cursor: pointer;
}
.btn-outline {
  background-color: transparent;
}
.btn:hover {
  border: 1px solid var(--color-fg);
}
.btn-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

nav#TOC {
  padding: 0 1rem 1rem;
  width: 16rem;
  background-color: var(--color-bg-muted);
  border-right: 1px solid var(--color-border);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

nav#TOC header {
  flex: 0 0 auto;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav#TOC header h2 {
  margin: 0;
  font-size: 1.25rem;
}
nav#TOC header .btn {
  display: none;
}

nav#TOC ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

nav#TOC ul ul {
  padding-left: 1rem;
}
nav#TOC > ul > li > ul {
  margin-bottom: 1rem;
}

nav#TOC li {
  font-size: .875rem;
  margin: .25rem 0;
}

nav#TOC a {
  display: flex;
  text-decoration: none;
  display: block;
}

nav#TOC a:hover {
  text-decoration: underline;
}

nav#TOC > ul > li > a {
  font-size: 1.25em;
  font-family: var(--font-family-headings);
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  margin-left: 16rem;
  background-color: var(--color-bg);
  border-right: 1px solid var(--color-border);
  overflow-x: hidden;
}

.content {
  flex: 1 1 auto;
  width: 100%;
  padding: 2rem;
  overflow-x: hidden;
}
.content > :first-child {
  margin-top: 0;
}

.page-nav {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 2rem 2rem;
  gap: 2rem;
}

.navlink {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.navlink.next {
  text-align: right;
  margin-left: auto;
}
.navlink-label {
  font-family: var(--font-family-headings);
  font-weight: 600;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index main {
  margin-left: 0;
}
.index #title-block-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.site-footer {
  padding: 1rem 2rem;
  font-size: .875rem;
  background-color: var(--color-bg-muted);
  border-top: 1px solid var(--color-border);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.site-footer nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
  padding: 0;
  margin: 0;
}
.site-footer nav a {
  display: inline-flex;
  align-items: center;
  gap: .5ch;
  text-decoration: none;
}
.site-footer nav a:hover {
  text-decoration: underline;
}
.site-footer nav a svg {
  width: 1em;
  height: 1em;
}

@media (max-width: 480px) {
  .index-cta {
    flex-direction: column;
    align-items: center;
  }
  .site-footer {
    align-items: flex-start;
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  nav#TOC {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: initial;
    height: 4rem;
    border-bottom: 1px solid var(--color-border);
    border-right: none;
    position: fixed;
    transition: height .2s ease;
    overflow-y: hidden;
  }
  nav#TOC ul {
    display: none;
  }
  nav#TOC header {
  }
  nav#TOC header .btn {
    display: block;
  }

  nav#TOC.expanded {
    height: 100%;
    overflow-y: auto;
  }
  nav#TOC.expanded ul {
    display: block;
  }

  main {
    margin-top: 4rem;
    margin-left: 0;
  }

  .content {
    padding: 2rem 1rem 1rem;
  }
  .page-nav, .site-footer {
    padding: 1rem;
  }
  .page-nav {
    gap: 1rem;
  }
}

/* Syntax highlighting overrides */

code span.kw,
code span.cf,
code span.pp,
code span.im {
  font-weight: 600;
}

code span.at,
code span.dt {
  text-decoration: none;
  font-style: italic;
}

code span.co {
  color: var(--color-fg-muted);
}

code span.st, code span.ss {
  color: var(--color-primary);
}

code span.dv {
  color: var(--color-secondary);
}

/* Bash prompt styling */
.bash .prompt {
  user-select: none;
  color: var(--color-fg-muted);
}
.bash {
}

