on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    permissions:
      contents: read
      actions: write
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v34
      - uses: cachix/cachix-action@v15
        with:
          name: bombadil
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - run: nix config show
      - run: nix build .
